@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F3F3;
  --foreground: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-syne), -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Hide default cursor */
body * {
  cursor: none !important;
}

